In [234]:
text_string = """

Form 13F Information Table Entry Total:                 659
                                        ---------------------------------------
                                                     2,403,697
Form 13F Information Table Value Total: -------------------------------------- 1,456 1456
                                                    (thousands) $2,403,697
Form 13F Information Table Total Value: -------------------------------------- 1,456 1456
                                                    (thousands) $2,403,697.00
 """

cast_to_bytecode = text_string.encode() # decodes into bytecode `.decode('utf-8')`
text_raw = fr"{text_string}" # encodes string to raw text. Pretty cool tip on use `fr` together. Never seen it before

In [235]:
# text_raw
text_string
# text_string.encode()

'\n\nForm 13F Information Table Entry Total:                 659\n                                        ---------------------------------------\n                                                     2,403,697\nForm 13F Information Table Value Total: -------------------------------------- 1,456 1456\n                                                    (thousands) $2,403,697\nForm 13F Information Table Total Value: -------------------------------------- 1,456 1456\n                                                    (thousands) $2,403,697.00\n '

In [238]:
import re
string = """
abc-1000?der 

How about a NO! or 20 times NO.
"""
string2 = """dgsfdgsdg dfgdsfg "30",2014-08-08,"100","MT","8","3624","#","#",1"""
string3 = """dgsfdgsdg dfgdsfg, 30 2014-08-08, 100 MT 8 3624 # # 1
How about a NO! or 20 times NO."""
string4 = """0828041930	72	0:5493513263615:1:1	0:3513263615:2:1	0:5491124970159:1:1		0	9	14	841	SMPP.841:1	1.0	0	0	"""

# \d - digit in the string
# \d+ - matches all individual full digits/words with digits only, but it also means 1,345,555 is extracted as ['1', '345', '555']
# \d* - as `\d+` plus every white space "" in the string ['',  '','','','1', '','','659','','', ''] etc
# \D - Negation of the `\d`. 1st non-digit. Not [0-9].
# \w -  letter, digit or _ but not digits. `\w{3,}?`: limits to any 3 or more starting chars. `\w{3,}` to words with 3 or more chars 
# \W - negation of `\w`
# \s - white space
# \S - character that is anythin but white space
# . - character except the new line
# \n
re.findall(r"(?:\s*(?:\"([^\"]*)\"|([^\s]+))\s*\s?)+?", string3) # extracts every standalone whole word/character
re.findall(r"(?:\s*(?:\"([^\"]*)\"|([^,]+))\s*,?)+?", string3) # extracts every standalone whole word/character separated by ","
re.findall(r"Entry Total\W+([0-9]{0,5})", text_string) # extracts digits in a line that starts with "Entry Total"
re.findall(r"(?:[^\t]+\s|\t|\w$)", string4) # extracts data separated by tabs
re.findall(r"\$?\s?(\$?\d+[\.\s,\dk]+)|(\d+[\.\s,\dk]+\$?)", text_string) # extracts data separated by tabs
re.findall(r"Value Total(:)?\W+([0-9,?\s?]{0,10})", text_string) # extracts digits in a line that starts with "Entry Total"
re.findall(r"(?:un)?expected", "a few unexpected words are to be expected")
re.findall(r"(?:un|not )?expected", "unexpected and not expected should both be matched")
# re.findall(r"(?:Value Total|Total Value)\W+?[\d+,?\d+?]", text_string)
re.findall(r"(?:Value Total|Total Value)", text_string) # () treats the selection as a unit
re.findall(r"[0-9A-Za-z\-]+", text_string) # [] is like a list of values to match. It can be any order and values are independent
re.findall(r"([\d,.?]+)", text_string) # matches every number, with or without `,`/`.` thousands/decimals separator
# re.search(r"\D.*", fr'{string}', re.DOTALL).group()

['13',
 '659',
 '2,403,697',
 '13',
 '1,456',
 '1456',
 '2,403,697',
 '13',
 '1,456',
 '1456',
 '2,403,697.00']

In [223]:
fr"{text_string}"
# text_raw
print(text_string)

Form 13F Information Table Entry Total:                 659
                                        ---------------------------------------
                                                     2,403,697
Form 13F Information Table Value Total: -------------------------------------- 1,456 1456
                                                    (thousands) $2,403,697
Form 13F Information Table Total Value: -------------------------------------- 1,456 1456
                                                    (thousands) $2,403,697